.title{
  text-align: center;
  background-color: rgba(187, 127, 99, 0.7);
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
}
.mulufather{
  display: flex;
  justify-content: center;
}
.mulu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 660px;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}
.muluButton{
  margin: 3px 50px;
  width: 230px;
}
.muluButtondiv{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}
.request{
  position: fixed;
  left: 47%;
  top: 20%;
  font-size: 25px;
}
.back{
  border: 1px solid rgb(68, 149, 202, .7);
  background-color: rgba(52, 171, 250, 0.7);
  border-radius: 5px;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  padding-bottom: 3px;
}