.website{
  margin-left: 38%;
  margin-top: 7%;
  font-size: 16px;
}
.openWebsite{
  color: #1890ff;
  text-decoration: underline;
  cursor: pointer;
}
.inputBorder{
  margin: 2% 0 5% 40%;
  border-radius: 3px;
  border: 1px solid gray;
  width:180px;
  height:45px;
}
.inputBorder::-webkit-input-placeholder{
  font-size: 15px;
}
.inputBorder:focus{
  border: 1px solid #1890ff;
  outline: none;
}
.submitLink{
  border: 1px solid #1890ff;
  margin-left: 7px;
  padding: 10px 6px 10px 6px;
  border-radius: 4px;
}
.searchBtn{
  position: fixed;
  left: 0;
  top: 0;
}